<header class="header">
    <div class="header__wrapper wrapper">
        <div class="header__content">
            {% if settings.logo %}
                <a class="header__logo" href="/">
                    <img class="ofcn" src="{{ settings.logo | img_url: 'master' }}" alt="Logo">
                </a>
            {% endif %}

            <div class="header-nav d-none d-lg-flex">
                {% for link in linklists.main-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        [{% for childlink in linklists[child_list_handle].links %}
                            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                        {% endfor %}]
                    {% else %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="profile-nav d-none d-lg-flex">
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a class="profile-nav__item" href="/account">
                            <img class="ofc" src="{{ 'icon-logout.svg' | asset_url }}" alt="Account" />
                        </a>
                        {{ 'log out' | customer_logout_link | replace: '<a', '<a class="profile-nav__item"'  }}
                    {% else %}
                        <a class="profile-nav__item" href="/login">
                            <img class="ofc" src="{{ 'icon-profile.svg' | asset_url }}" alt="Log In" />
                        </a>
                    {% endif %}
                {% endif %}

                <a class="profile-nav__item" href="/cart">
                    <span class="profile-nav__item-icon"><img class="ofcn" src="{{ 'icon-cart.svg' | asset_url }}" alt="Cart"></span>
                    {% if cart.item_count > 0 %}
                        <span class="profile-nav__item-text">{{ cart.item_count }}</span>
                    {% endif %}
                </a>
            </div>

            <div class="header__menu-trigger menu-trigger d-lg-none"><div class="menu-trigger__lines"><i></i><i></i><i></i></div></div>
        </div>
    </div>

    {% include 'mobile-menu' %}
</header>

