{%- comment -%}
    File: snippets/post-item.liquid
    Usage: {% include 'posts-item', post:post, class:class %}
{%- endcomment -%}

{% assign item_class = '' %}
{% if class %}
    {% assign item_class = class %}
{% endif %}

<a class="{{ item_class }} posts-item flex-block" href="{{ post.url }}">
    <div class="posts-item__image"><img class="ofc" src="{{ post.image.src | img_url: 'medium' }}" alt="{{ post.title }}"></div>
    <h4 class="posts-item__title text-l">{{ post.title }}</h4>
</a>