<div class="auth">
    <div class="auth__wrapper wrapper">
        <div class="auth__inner">
            <div class="auth__content form-wrap centered">
                <section class="hide" data-recover-form  id="recover-form">
                    <h2 class="auth__title title-s">{{ 'customer.recover_password.title' | t }}</h2>

                    <div class="auth__text text">{{ 'customer.recover_password.subtext' | t }}</div>

                    {% form 'recover_customer_password' %}
                        {% assign recover_success = form.posted_successfully? %}

                        {{ form.errors | default_errors }}

                        {% if form.posted_successfully? %}
                            <span class="hide" data-form-state></span>
                        {% endif %}

                        <div class="form__group">
                            <input type="email"
                            name="email"
                            id="RecoverEmail"
                            placeholder="{{ 'customer.recover_password.email' | t }}"
                            spellcheck="false"
                            autocomplete="off"
                            autocapitalize="off">
                        </div>

                        <div class="form__group">
                            <input type="submit" class="btn button" value="{{ 'customer.recover_password.submit' | t }}">
                        </div>

                        <a type="button" href="#login-form">
                            {{ 'customer.recover_password.cancel' | t }}
                        </a>
                    {% endform %}

                </section>

                <section data-login-form id="login-form">
                    {%- if recover_success == true -%}
                        <div class="auth__text form-success" data-reset-success>
                            {{ 'customer.recover_password.success' | t }}
                        </div>
                    {%- endif -%}

                    {% form 'customer_login' %}
                        <h1 class="auth__title title-s">{{ 'customer.login.title' | t }}</h1>

                        {{ form.errors | default_errors }}

                        <div class="form__group">
                            <input type="email"
                                name="customer[email]"
                                id="CustomerEmail"
                                class="{% if form.errors contains 'email' %}input-error{% endif %}"
                                placeholder="{{ 'customer.login.email' | t }}"
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                autofocus>
                        </div>

                        {% if form.password_needed %}
                            <div class="form__group">
                                <input type="password"
                                    name="customer[password]"
                                    id="CustomerPassword"
                                    class="{% if form.errors contains 'password' %}input-error{% endif %}"
                                    placeholder="{{ 'customer.login.password' | t }}">
                            </div>
                        {% endif %}

                        <div class="form__group">
                            <input type="submit" class="btn centered button" value="{{ 'customer.login.sign_in' | t }}">
                        </div>

                        <div class="auth__links">
                            <a href="/">{{ 'customer.login.cancel' | t }}</a>

                            <a href="/account/register">
                                {{ 'layout.customer.create_account' | t }}
                            </a>

                            {% if form.password_needed %}
                                <a href="#recover-form">{{ 'customer.login.forgot_password' | t }}</a>
                            {% endif %}
                        </div>
                    {% endform %}

                </section>

                {% if shop.checkout.guest_login %}
                    <h2 class="title-s">{{ 'customer.login.guest_title' | t }}</h2>

                    {% form 'guest_login' %}
                        <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
                    {% endform %}
                {% endif %}

            </div>
        </div>
    </div>
</div>