{% schema %}
    {
        "name": "Team",
        "tag": "section",
        "class": "section team",
        "presets": [
            {
                "name": "Team"
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Welcome to our Store"
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name"
                    },
                    {
                        "type": "text",
                        "id": "profession",
                        "label": "Profession"
                    }
                ]
            }
        ]
    }
{% endschema %}

{% if section.blocks.size > 0 %}
    <div class="team__wrapper wrapper">

        {% if section.settings.title != blank %}
            <h2 class="team__title title centered">{{ section.settings.title }}</h2>
        {% endif %}

        <div class="team__list">
            <div class="row">
                {% for block in section.blocks %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="team-item flex-block">
                            {% if block.settings.image != blank %}
                                <div class="team-item__image">
                                    <img class="ofc" src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.title }}" width="530" height="530">
                                </div>
                            {% endif %}

                            {% if block.settings.name != blank %}
                                <div class="team-item__name title-xs">{{ block.settings.name }}</div>
                            {% endif %}

                            {% if block.settings.profession != blank %}
                                <div class="team-item__profession bold">{{ block.settings.profession }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endif %}

{% stylesheet %}
    .team .row {
        --gutter: 6rem;
        --bs-gutter-y: var(--gutter);
    }

    .team__title {
        margin-bottom: 4.5rem;
    }

    .team-item {
        gap: 1rem;
    }

    .team-item__image {
        aspect-ratio: 255 / 325;
        margin-bottom: 0.5rem;
    }
{% endstylesheet %}